In [1]:
#!python -m pip install sklearn

In [2]:
#!python -m pip install --upgrade pip

In [3]:
#%load_ext autoreload
#%autoreload 2

In [4]:
import sklearn

In [5]:
import pandas as pd

In [6]:
!dir .\files\auto-mpg.csv

 D 드라이브의 볼륨: DATA
 볼륨 일련 번호: 08D4-18A8

 d:\Develops\test_machinelearning\files 디렉터리

2021-06-29 (화)  오후 04:04            21,913 auto-mpg.csv
               1개 파일              21,913 바이트
               0개 디렉터리  263,942,320,128 바이트 남음

In [7]:
pd_data = pd.read_csv('./files/auto-mpg.csv', header=None)
pd_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       398 non-null    float64
 1   1       398 non-null    int64
 2   2       398 non-null    float64
 3   3       398 non-null    object
 4   4       398 non-null    float64
 5   5       398 non-null    float64
 6   6       398 non-null    int64
 7   7       398 non-null    int64
 8   8       398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [8]:
pd_data.shape
pd_data
#pd_data[['mpg','weight']]

        0  1      2      3       4     5   6  7                          8
0    18.0  8  307.0  130.0  3504.0  12.0  70  1  chevrolet chevelle malibu
1    15.0  8  350.0  165.0  3693.0  11.5  70  1          buick skylark 320
2    18.0  8  318.0  150.0  3436.0  11.0  70  1         plymouth satellite
3    16.0  8  304.0  150.0  3433.0  12.0  70  1              amc rebel sst
4    17.0  8  302.0  140.0  3449.0  10.5  70  1                ford torino
..    ... ..    ...    ...     ...   ...  .. ..                        ...
393  27.0  4  140.0  86.00  2790.0  15.6  82  1            ford mustang gl
394  44.0  4   97.0  52.00  2130.0  24.6  82  2                  vw pickup
395  32.0  4  135.0  84.00  2295.0  11.6  82  1              dodge rampage
396  28.0  4  120.0  79.00  2625.0  18.6  82  1                ford ranger
397  31.0  4  119.0  82.00  2720.0  19.4  82  1                 chevy s-10

[398 rows x 9 columns]

In [9]:
pd_data.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name']
pd_data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.00,2790.0,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.00,2130.0,24.6,82,2,vw pickup
395,32.0,4,135.0,84.00,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.00,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.00,2720.0,19.4,82,1,chevy s-10

In [10]:
x = pd_data[['weight', 'cylinders']]

In [11]:
y = pd_data[['mpg']]

In [12]:
x.shape, y.shape

((398, 2), (398, 1))

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train, X_test, Y_train, Y_test = train_test_split(x,y)
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((298, 2), (100, 2), (298, 1), (100, 1))

In [15]:
from sklearn.linear_model import LinearRegression

In [16]:
# lr.fit(x,y)
lr = LinearRegression()

In [19]:
#lr. fit(x, y)
lr.fit(X_train,Y_train)

LinearRegression()

In [29]:
#lr. fit(x, y)
lr.fit(X_test,Y_test)

LinearRegression()

In [20]:
# total data
lr.coef_, lr.intercept_

(array([[-0.00618459, -0.75475241]]), array([46.02415374]))

In [21]:
# split data
lr.coef_, lr.intercept_

(array([[-0.00618459, -0.75475241]]), array([46.02415374]))

In [22]:
# check with total data
lr.score(x,y)

0.696158530992428

In [24]:
# check with a part train data
lr.score(X_train,Y_train)

0.6817190510800477

y = -0.00767661x + -0.73190678x + 46.31736442

In [25]:
# check with total data
lr.score(x,y)

0.696158530992428

In [27]:
# check with a part train data
lr.score(X_train,Y_train)

0.6817190510800477

In [30]:
# check with a part train data
lr.score(X_test,Y_test)

0.7403813949560121

y = -0.00767661x + -0.73190678x + 46.31736442

In [33]:
# weight -> cylinders
lr.predict([[3504.0,8]])

array([[18.08507888]])

In [34]:
# 2790.0, 4
lr.predict([[2970.0,4]])

array([[24.27663964]])

In [35]:
(-0.0076761*2790.0) + (-0.73190678*4) + 46.31736442

21.973418299999995

In [36]:
type(lr)

sklearn.linear_model._base.LinearRegression

In [37]:
import pickle

In [42]:
pickle.dump(lr, open('./saves/autompg_lr.pkl','wb'))

In [47]:
y_predict = lr.predict(X_train)
y_predict.shape, Y_train.shape

((298, 1), (298, 1))

In [50]:
y_result = y_predict - Y_train
y_result

          mpg
212 -4.562241
215  3.323689
268  1.778357
85   0.902655
130  1.918716
..        ...
338  0.445034
369 -5.688304
293 -0.290084
141  0.546774
269 -1.430419

[298 rows x 1 columns]

In [ ]:
lr.scroe(X_train, Y_train)