In [3]:
!python -m pip install sklearn

Requirement already satisfied: sklearn in d:\python36\lib\site-packages
Requirement already satisfied: scikit-learn in d:\python36\lib\site-packages (from sklearn)
Requirement already satisfied: numpy>=1.13.3 in d:\python36\lib\site-packages (from scikit-learn->sklearn)
Requirement already satisfied: scipy>=0.19.1 in d:\python36\lib\site-packages (from scikit-learn->sklearn)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\python36\lib\site-packages (from scikit-learn->sklearn)
Requirement already satisfied: joblib>=0.11 in d:\python36\lib\site-packages (from scikit-learn->sklearn)

You are using pip version 9.0.1, however version 21.1.3 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [4]:
!python -m pip install --upgrade pip

Collecting pip
  Downloading https://files.pythonhosted.org/packages/47/ca/f0d790b6e18b3a6f3bd5e80c2ee4edbb5807286c21cdd0862ca933f751dd/pip-21.1.3-py3-none-any.whl (1.5MB)
Installing collected packages: pip
  Found existing installation: pip 9.0.1
    Uninstalling pip-9.0.1:
      Successfully uninstalled pip-9.0.1
Successfully installed pip-21.1.3

Cache entry deserialization failed, entry ignored

In [5]:
%load_ext autoreload
%autoreload 2

In [6]:
import sklearn

In [7]:
import pandas as pd

In [9]:
!dir .\files\auto-mpg.csv

 D 드라이브의 볼륨: DATA
 볼륨 일련 번호: 08D4-18A8

 D:\Develops\test_machinelearning\files 디렉터리

2021-06-29 (화)  오후 04:04            21,913 auto-mpg.csv
               1개 파일              21,913 바이트
               0개 디렉터리  258,942,377,984 바이트 남음

In [12]:
pd_data = pd.read_csv('./files/auto-mpg.csv', header=None)
pd_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       398 non-null    float64
 1   1       398 non-null    int64
 2   2       398 non-null    float64
 3   3       398 non-null    object
 4   4       398 non-null    float64
 5   5       398 non-null    float64
 6   6       398 non-null    int64
 7   7       398 non-null    int64
 8   8       398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [15]:
pd_data.shape
pd_data

        0  1      2      3       4     5   6  7                          8
0    18.0  8  307.0  130.0  3504.0  12.0  70  1  chevrolet chevelle malibu
1    15.0  8  350.0  165.0  3693.0  11.5  70  1          buick skylark 320
2    18.0  8  318.0  150.0  3436.0  11.0  70  1         plymouth satellite
3    16.0  8  304.0  150.0  3433.0  12.0  70  1              amc rebel sst
4    17.0  8  302.0  140.0  3449.0  10.5  70  1                ford torino
..    ... ..    ...    ...     ...   ...  .. ..                        ...
393  27.0  4  140.0  86.00  2790.0  15.6  82  1            ford mustang gl
394  44.0  4   97.0  52.00  2130.0  24.6  82  2                  vw pickup
395  32.0  4  135.0  84.00  2295.0  11.6  82  1              dodge rampage
396  28.0  4  120.0  79.00  2625.0  18.6  82  1                ford ranger
397  31.0  4  119.0  82.00  2720.0  19.4  82  1                 chevy s-10

[398 rows x 9 columns]

In [20]:
pd_data.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name']
pd_data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.00,2790.0,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.00,2130.0,24.6,82,2,vw pickup
395,32.0,4,135.0,84.00,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.00,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.00,2720.0,19.4,82,1,chevy s-10

In [21]:
x = pd_data[['weight']]

In [22]:
y = pd_data[['mpg']]

In [23]:
x.shape, y.shape

((398, 1), (398, 1))

In [32]:
from sklearn.model_selection import train_test_split

In [35]:
X_train, X_test, Y_train, Y_test = train_test_split(x,y)
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((298, 1), (100, 1), (298, 1), (100, 1))

In [24]:
from sklearn.linear_model import LinearRegression

In [25]:
# lr.fit(x,y)
lr = LinearRegression()

In [36]:
# total data
lr.coef_, lr.intercept_

(array([[-0.00767661]]), array([46.31736442]))

In [29]:
# split data
lr.coef_, lr.intercept_

(array([[-0.00767661]]), array([46.31736442]))

y = -0.00767661x + 46.31736442

In [31]:
lr.score(x,y)

0.6917929800341573